.navbar{
    margin-top: 50px;
    display:flex;
    background-color: black;
    color:white;
    justify-content: center;
}
.navbar > h2{
    margin-left: 10px;
}
.nav-elements{
    display:flex;
    align-items: center;
    margin: auto ;
}
.nav-elements > ul{
    text-decoration: none;
    list-style: none;
}
.contact{
    height: 30px;
    width:100px;
    margin:auto;
    margin-right:10px;
    color: white;
    background-color: blue;
    border:none;
    border-radius: 10px;
}