.field-div{
    display: flex;
    justify-content: space-around;

}
.strickedprice{
    text-decoration: line-through;
}
.product-card{
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}
